{% extends 'admin/_template/layout.html.twig' %}
{% block content %}
 {% for message in app.flashes('success') %}
  <div class="intro-y box p-5 mt-5 rounded-md flex items-center px-5 py-4 mb-2 bg-theme-9 text-white flash_message">
   <i data-feather="alert-circle" class="w-6 h-6 mr-2"></i>{{ message }} <i data-feather="x"
                                                                            class="w-4 dismiss_message h-4 ml-auto"></i>
  </div>
 {% endfor %}
 {% for message in app.flashes('error') %}
  <div class="intro-y box p-5 mt-5 rounded-md flex items-center px-5 py-4 mb-2 bg-theme-6 text-white flash_message">
   <i data-feather="alert-circle" class="w-6 h-6 mr-2"></i>{{ message }} <i data-feather="x"
                                                                            class="w-4 dismiss_message h-4 ml-auto"></i>
  </div>
 {% endfor %}
 <div class="col-span-12 mt-6 lg:col-span-4">

  <div class="intro-y box pr-1 p-3 mt-1">
        {{ include('/admin/partials/_filters_btn.html.twig') }}
        <form  action="{{ path('admin_author') }}" id="tabulator-html-filter-form">
            <div class="px-2 sm:px-2 mt-2 pt-2 toggle-filter">

                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Filter Results
                        </h2>
                        <a href="{{ path('admin_author_form') }}" class="button w-24 ml-auto flex bg-gray-200 text-gray-600 dark:bg-dark-1 dark:text-gray-300" >Add New</a>
                    </div>

                <div class="grid grid-cols-12 gap-4 row-gap-5 mt-5">

                    <div class="intro-y w-full col-span-12 sm:col-span-3  md:col-span-2 lg:col-span-2  xl:col-span-2 xxl:col-span-2">
                        <div class="mb-2">Name</div>
                        <input type="text" value="{{ app.request.get('user-search') }}" name="user-search" class=" input w-full border js-user-autocomplete"  data-autocomplete-url="{{ path('admin_api_authors') }}"  placeholder="Search by name">
                        <input type="hidden" id="user" name="user" value="{{ app.request.get('user') }}" >
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-3  md:col-span-2  lg:col-span-2 xl:col-span-2 xxl:col-span-2">
                        <div class="mb-2">Age</div>
                        <input type="text" name="age"   value="{{ app.request.get('age') }}" class="input w-full border"  placeholder="Enter Age">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-3  md:col-span-2 lg:col-span-2 xl:col-span-2 xxl:col-span-2">

                        <div class="mb-2">Country</div>
                        <select class="input w-full border flex-1 select2 autocomplete" id="country-filter"  name="country" data-placeholder="--Select Country--"  data-search-input-placeholder="Search Country" data-allow-clear="true">
                            <option value="" selected="selected">Select Country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}">
                                    {{ country.name | upper}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

{#                    <div class="intro-y col-span-12 sm:col-span-3  md:col-span-3 lg:col-span-3 xl:col-span-2 xxl:col-span-2">#}
{#                        <div class="mb-2">Book ISBN</div>#}
{#                        <input type="text" name="receipt_no"  value="{{ app.request.get('receipt_no') }}"  class="input w-full border"  placeholder="Enter ISBN Number">#}
{#                    </div>#}

{#                    <div class="intro-y col-span-6 sm:col-span-2  md:col-span-3  lg:col-span-3 xl:col-span-2 xxl:col-span-2">#}
{#                        <div class="mb-2">Published Start</div>#}
{#                        <input type="datetime-local" value="{{app.request.query.get('published') ? app.request.query.get('payment_start') | date("Y-m-d\\TH:i") : '' }}" id="payment_start" name="payment_start"  class="input w-full border flex-1" >#}
{#                    </div>#}

{#                    <div class="intro-y col-span-6 sm:col-span-2  md:col-span-3  lg:col-span-3 xl:col-span-2 xxl:col-span-2">#}
{#                        <div class="mb-2">Published End</div>#}
{#                        <input type="datetime-local" value="{{app.request.query.get('published') ? app.request.query.get('payment_end') | date("Y-m-d\\TH:i") : '' }}" id="payment_end" name="payment_end"  class="input w-full border flex-1" >#}
{#                    </div>#}
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end pb-5">
                        <button type="submit" id="payment_btn_submit" class="button w-24 justify-center block bg-theme-1 text-white ml-2 mr-3 "  >Search</button>
                        <button type="submit" id="btn-reset" class="button w-24 justify-center block bg-gray-200 text-gray-600 dark:bg-dark-1 dark:text-gray-300" >Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <div class="tab-content">
   <div class="tab-content__pane active" id="classes">
    {# {% for key, author in authors %} #}
     {# <div class="mt-3 mb-2">
      <h4 class="text-xl text-gray-700 dark:text-gray-600 font-medium leading-none mt-3">
       {{ author.name|upper }}
      </h4>
     </div> #}
     {% for  key,author in authors %}
      {% set color = 'text-theme-9' %}
      <div class="intro-y mt-1">
       <div class="box grid grid-cols-8  gap-1 mt-5 toggle_details zoom-in">
        <div class="ml-1  ml-auto mr-auto pl-3 py-6 mt-2">
         <div class="font-medium"> # {{ author.id }}
         </div>
        </div>
        <div class="items-center ml-auto mr-auto  ml-1    py-6 mt-2  ">
         - {{ author.name }}
        </div>
        <div class="items-center ml-auto mr-auto  ml-3    pl-1 py-6 mt-2  "> {{ author.age }} years </div>
        <div class="items-center ml-auto mr-auto  ml-3    pl-1 py-6 mt-2  "> {{ author.name }} </div>
        <div class="items-center ml-auto mr-auto  ml-3    pl-1 py-6 mt-2  ">  {{ author.country }}  </div>
        <div class="items-center ml-auto mr-auto  ml-3    pl-1 py-6 mt-2  "> GGG </div>
        <div class="items-center  ml-auto mr-auto  pl-3 py-4 mt-3     ">
         <div class="pos-dropdown dropdown ml-auto sm:ml-0">
          <button class="dropdown-toggle button px-2 box text-gray-900 dark:text-gray-300">
           <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="more-horizontal"></i> </span>
          </button>
          <div class="pos-dropdown__dropdown-box dropdown-box">
           <div class="dropdown-box__content box dark:bg-dark-1 p-2">
            <a href="{{ path('admin_index') }}"
               class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md navigation">
             <i data-feather="edit" class="w-4 h-4 mr-2"></i> <span
                     class="check-square">Edit</span> </a>
            <a href="#"
               data-has-related="true"
               data-item-type="EventOccurrence"
               data-item-id="{{ 12 }}"
               class="flex items-center  delete-item text-theme-6 block p-2  text-theme-6 transition duration-300 ease-in-out bg-white dark:bg-dark-2 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
             <i data-feather="trash-2" class="w-4 h-4 mr-2"></i> <span
                     class="truncate">Delete</span> </a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     {% endfor %}
    {# {% endfor %} #}
    {#                {{ include('/admin/partials/pagination.html.twig') }}#}
   </div>
  </div>
 </div>
{% endblock %}
{% block javascript %}
<script>
 $(document).ready(function () {
     searchUser('author');

     setTimeout(function()
     {
         if ("{{ app.request.get('country')}}" != ''){
                    $("#country-filter").val("{{ app.request.get('country')}}").trigger("change");
          }
     }, 1000);


});
</script>
{% endblock %}