{% extends 'admin/_template/layout.html.twig' %}

{% block content %}

 <!-- BEGIN: Search Filters  -->
 <div class="intro-y box pr-1">
  <form class="" action="{{ path('admin_author') }}" id="tabulator-html-filter-form">

   <div class="px-5 sm:px-5 mt-5 pt-5 border-t border-gray-200 dark:border-dark-5">
    <div class="font-medium text-base">Filter Results</div>
    <div class="grid grid-cols-12 gap-4 row-gap-5 mt-5">


     <div class="intro-y col-span-12 sm:col-span-12  md:col-span-6 xxl:col-span-4">
      <div class="mb-2">User</div>
      <input type="text"  data-autocomplete-url="{{ path('admin_author') }}" class=" input w-full  border js-user-autocomplete" placeholder="Search by oxpin/firstname/lastname...">
      <input type="hidden" id="user" name="user">
     </div>

     <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end pb-5">
      <button type="submit" id="cancellation_submit" class="button w-24 justify-center block bg-theme-1 text-white ml-2 mr-3"  >Search</button>
      <button type="submit" id="btn-reset" class="button w-24 justify-center block bg-gray-200 text-gray-600 dark:bg-dark-1 dark:text-gray-300" >Reset</button>
     </div>
    </div>
   </div>
  </form>
 </div>
 <!-- END: Search Filters -->


 <div class="col-span-12 mt-6 lg:col-span-4">
  <div class="intro-y pr-1">
   <div class="box p-2">
    <div class="pos__tabs nav-tabs justify-center flex">
     <a data-toggle="tab" data-target="#classes" href="{{ path('admin_author') }}"
        class="flex-1 py-2 flat-md text-center navigation {{ 1 == 'noshow' ? 'active' }}">No Show</a>
     <a data-toggle="tab" data-target="#pt" href="{{ path('admin_author') }}"
        class="flex-1 py-2 flat-md text-center  navigation {{ 1 == 'admin' ? 'active' }}">Cancellation</a>
    </div>
   </div>
  </div>
  <div class="tab-content">



    <div class="tab-content__pane active" id="pt">
      {% for key, author in authors %}
       <div class="intro-y mt-4">
        <div class="box box grid grid-cols-6  py-6 gap-1 mt-5 mb-2 flex items-center toggle_details">

         <div class="ml-1  ml-auto mr-auto mt-1">
          <div class="font-medium">{{author.id }} </div>
         </div>
         <div class="items-center ml-auto mr-auto   ml-1 "> {{author.name }} </div>
         <div class="items-center ml-auto mr-auto   ml-1 "> {{ author.age }} </div>
         <div class="flex justify-center   items-center">
          <div class="flex justify-center items-center pl-22">
           <a class="flex items-center text-theme-6 delete-item" href="javascript:;"
              data-item-type="Cancellation" data-item-id="{{ author.id }}"> <i
                    data-feather="trash-2" class="w-4 h-4 mr-1"></i>
           </a>
          </div>
         </div>
        </div>
       </div>
      {% endfor %}

{#     {{ include('/admin/partials/pagination.html.twig') }}#}
    </div>
  </div>
 </div>
{% endblock %}
{% block javascript %}
 <script type="text/javascript">
  $(document).ready(function () {
   $(".detail_record").hide();

   $(".toggle_details").click(function (e) {
    if (e.target.tagName.toLowerCase() == 'button' || e.target.tagName.toLowerCase() == 'svg') {
     $(".detail_record").hide();
     return;
    }
    $(".toggle_details").not(this).siblings().hide();
    $(this).siblings(".detail_record").toggle();
   });
  });
 </script>
{% endblock %}