{% extends 'admin/_template/layout.html.twig' %}

{% block content %}
 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

   <h1 class="h2">Book</h1>

   <div class="col-12">
    <a class="btn btn-primary btn-sm" href="#" role="button">Back</a>
   </div>



  <h2>Book Information</h2>

  {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

     <div class="row">
         <div class="form-group col-md-6">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
   </div>

         <div class="form-group col-md-6">
             {{ form_label(form.price) }}
   {{ form_widget(form.price) }}
   {{ form_errors(form.price) }}
  </div>
 </div>

     <div class="row">

         <div class="form-group col-md-6">
   {{ form_label(form.topic) }}
   {{ form_widget(form.topic) }}
   {{ form_errors(form.topic) }}
  </div>

         <div class="form-group col-md-6">
   {{ form_label(form.author) }}
   {{ form_widget(form.author) }}
   {{ form_errors(form.author) }}
  </div>
  </div>


  {{ form_end(form) }}

 </main>
{% endblock %}
