{% extends 'admin/_template/base.html.twig' %}
{% block body %}
    <!-- BEGIN: Top Bar -->
    <div class="border-b border-theme-24 -mt-10 md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10">
        <div class="top-bar-boxed flex items-center">
            <!-- BEGIN: Logo -->
            <a href="" class="-intro-x hidden md:flex">
                <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/admin/dist/images/logo.svg">
                <span class="text-white text-lg ml-3"> Mid<span class="font-medium">one</span> </span>
            </a>
            <!-- END: Logo -->
            <!-- BEGIN: Breadcrumb -->
            <div class="-intro-x breadcrumb breadcrumb--light mr-auto"> <a href="" class="">Application</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i> <a href="" class="breadcrumb--active">Dashboard</a> </div>
            <!-- END: Breadcrumb -->
            <!-- BEGIN: Account Menu -->
            <div class="intro-x dropdown w-8 h-8">
                <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110">
                    <img alt="Midone Tailwind HTML Admin Template" src="/admin/dist/images/profile-13.jpg">
                </div>
                <div class="dropdown-box w-56">
                    <div class="dropdown-box__content box box">
                        <div class="p-2 border-t border-theme-40 dark:border-dark-3">
                            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2"></i> {{ app.user}} </a>
                        </div>
                        <div class="p-2 border-t border-theme-40 dark:border-dark-3">
                            <a href="{{ path('app_logout') }}" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="log-out" class="w-4 h-4 mr-2"></i> Logout </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Account Menu -->
        </div>
    </div>
    <!-- END: Top Bar -->
    <!-- BEGIN: Top Menu -->
    {% set current_path = app.request.get('_route') %}
    <nav class="top-nav">
        <ul>
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a  href="javascript:;"  class=" top-menu {{  current_path == 'admin_index' ? 'top-menu--active'}}"    >
                            <div class="top-menu__icon"> <i data-feather="home"></i> </div>
                            <div class="top-menu__title"> Dashboard </div>
                        </a>
                    </li>

                    <li>
                        <a  href="{{ path('admin_book') }}" class=" top-menu {{  current_path == 'admin_book' or current_path == 'admin_book' or current_path == 'admin_book' or current_path == 'admin_book' ? 'top-menu--active'}}"    >
                            <div class="top-menu__icon"> <i data-feather="user"></i> </div>
                            <div class="top-menu__title"> Books <i data-feather="chevron-down" class="top-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="{{ path('admin_book') }}" class="top-menu">
                                    <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="top-menu__title"> List Books </div>
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('admin_tag') }}" class="top-menu">
                                    <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="top-menu__title"> Tag </div>
                                </a>
                            </li>

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin_country') }}" class="top-menu">
                                        <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                                        <div class="top-menu__title">  Books on Offers </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                        <a href="{{ path('admin_department') }}" class=" top-menu {{  current_path == 'admin_department'? 'top-menu--active'}}"    >
                            <div class="top-menu__icon"> <i data-feather="shopping-bag"></i> </div>
                            <div class="top-menu__title"> Departments </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_author') }}" class=" top-menu {{  current_path == 'admin_author'? 'top-menu--active'}}"    >
                            <div class="top-menu__icon"> <i data-feather="shopping-bag"></i> </div>
                            <div class="top-menu__title"> Authors </div>
                        </a>
                    </li>
                {% endif %}
            <li>
                <a href="{{ path('admin_country') }}" class=" top-menu {{  current_path == 'admin_country'? 'top-menu--active'}}"    >
                    <div class="top-menu__icon"> <i data-feather="shopping-bag"></i> </div>
                    <div class="top-menu__title"> Country </div>
                </a>
            </li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li>
                    <a  href="{{ path('admin_country') }}" class=" top-menu {{  current_path == 'admin_country' or current_path == 'admin_country' or current_path == 'admin_country' or current_path == 'admin_country' ? 'top-menu--active'}}"    >
                        <div class="top-menu__icon"> <i data-feather="user"></i> </div>
                        <div class="top-menu__title"> Staff <i data-feather="chevron-down" class="top-menu__sub-icon"></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="{{ path('admin_country') }}" class="top-menu">
                                <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="top-menu__title"> List Staff </div>
                            </a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('admin_country') }}" class="top-menu">
                                    <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="top-menu__title"> Salaries </div>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin_country') }}" class="top-menu">
                                    <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="top-menu__title"> Memberships </div>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}


        </ul>
    </nav>
    <!-- END: Top Menu -->
    <!-- BEGIN: Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
{#        {{ include('/admin/partials/delete-record-modal.html.twig') }}#}
    </div>
{% endblock %}