{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid px-4">
                <h1 class="mt-4">Books {{ type|capitalize }}</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Books Listing</li>
                </ol>
             <div class="row">

            <div class="col-12">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author(s)</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{ book.id  }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.bookTags[0].author }}</td>
                        <td>{{ book.price }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
